* {
    margin: 0;
    padding: 0;
}

#chat_wrap {
    width: 70%;
    height: 30%;
}

.chat_from {
    display: inline-block;
    width: 10%;
    text-align: center;
    margin-left: 4px;
    margin-right: 4px;
    font-weight: bold;
}

.chat_message {
    display: inline-block;
    width: 70%;
    margin-left: 4px;
    margin-right: 4px;
}

.chat_stamp {
    display: inline-block;
    text-align: end;
    margin-left: 4px;
    margin-right: 4px;
    width: calc(20% - 24px);
}

#chat_title {
    border-bottom: 1px solid black;
    margin-left: 8px;
    margin-right: 8px;
    height: 20px;
}

#chat_input_wrap {
    border: 1px solid gray;
}

#chat_input {
    border: 0;
    height: 25px;
    display: inline-block;
    width: calc(100% - 76px);
}

#chat_send {
    width: 70px;
    height: 25px;
    border: 0;
    background: white;
}

#chat_send:active {
    background: gray;
}

button, input {
    outline: none;
}