<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Waffle :: Lobby</title>
    <link rel="stylesheet" charset="UTF-8" href="css/Standard.css">
    <script src="/js/main.js"></script>
</head>
<body>
    <h1>Lobby Page</h1>
    <p>TODO</p>
    <div id="menu">
        <!-- 도움말 같은걸 추가해야함 -->
        <!-- 설정 같은걸 추가해야함 -->
    </div>

    <div id="game">
        <div id="user_list">

        </div>
        <div id="room_list">

        </div>
        <div id="me">
        </div>
        <div id="chat_wrap">
            <div id="chat_title">
                <h5>채팅</h5>
            </div>
            <div id="chat"></div>
            <div id="chat_input_wrap">
                <input id="chat_input" maxlength="200">
                <button id="chat_send">전송</button>
            </div>
        </div>
    </div>

</body>
</html>